<h1 class="text-center">My Lists</h1>
<div class="list-cards">
  <% @lists.each do |list| %>
    <%= link_to list_path(list), class:"to-each-list" do %>
      <div class="each-list">
        <%= cl_image_tag list.photo.key, class:"list-photo", crop: :fill %>
        <h3><%= list.name %></h3>
        <%# <p> <%= link_to "Delete List", list_path(list), method: :delete, data: { confirm: "Are you sure?" }</p> %>
      </div>
    <% end %>
  <% end %>
</div>

  <div class="text-center">
  <p><%= link_to "Create List", new_list_path %></p>
  </div>
</div>
