<%= simple_form_for([@list, @bookmark]) do |f| %>
  <div>
    <%= f.input :comment %>
    <%= f.association :movie %>
  </div>
  <div class="btn btn-primary">
    <%= f.button :submit %>
  </div>
<% end %>
<div>
  <%= link_to "Back", new_list_bookmark_path(@list) %>
</div>
